{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block title %}Hello EducationsController!{% endblock %}

{% block body %}
    <div class="super_container">
        <div class="content_container">
            <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">
                {{ include('general_info.html.twig') }}
                <div class="main_content">
                    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
                        <div class="main_subtitle">What I am good at</div>
                        <div class="main_title">My Education</div>
                    </div>
                    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

                        <div class="education">
                            {% for education in educations_data %}
                            <div class="edu_item d-flex flex-lg-row flex-column align-items-start justfy-content-start">
                                <div>
                                    <div class="edu_year">{{ education.startDate ~ ' - ' ~ education.endDate }}</div>
                                </div>
                                <div>
                                    <div class="edu_image"><img
                                                style="width: 60px; height: 60px;"
                                                src="{{ asset('images/' ~ education.logo) }}"
                                                alt="" data-pagespeed-url-hash="1812979664"
                                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
                                </div>
                                <div class="edu_content">
                                    <div class="edu_title_container">
                                        <div class="edu_title">{{ education.name }}</div>
                                    </div>
                                    <div class="edu_text">
                                        <p>{{ education.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
