{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block title %}Skills{% endblock %}

{% block body %}
    <div class="super_container">
        <div class="content_container">
            <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">
                {{ include('general_info.html.twig') }}
                <div class="main_content">
                    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
                        <div class="main_subtitle">What I am good at</div>
                        <div class="main_title">My Skills</div>
                    </div>
                    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

                        <div class="skills">
                            <div class="skills_text">
                                <div style="column-count: 2">
                                    {{ skills_data.description }}
                                </div>
                            </div>

                            <div class="progress_bars" style="padding-top: 50px">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-xl-4 col-lg-6 pb_col">
                                            <div class="pb_item">
                                                <div class="p_bar_title">Angular</div>
                                                <div id="skill_1_pbar" class="skill_bars"
                                                     data-perc="{{ skills_data.angular/100 }}"
                                                     data-name="skill_1_pbar" data-color-start="#79ccff"
                                                     data-color-end="#9b74ff"></div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 pb_col">
                                            <div class="pb_item">
                                                <div class="p_bar_title">Symfony</div>
                                                <div id="skill_2_pbar" class="skill_bars"
                                                     data-perc="{{ skills_data.symfony/100 }}"
                                                     data-name="skill_2_pbar" data-color-start="#ff4646"
                                                     data-color-end="#ff26d9"></div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 pb_col">
                                            <div class="pb_item">
                                                <div class="p_bar_title">ReactJs</div>
                                                <div id="skill_3_pbar" class="skill_bars"
                                                     data-perc="{{ skills_data.reactJs/100 }}"
                                                     data-name="skill_3_pbar" data-color-start="#0054ff"
                                                     data-color-end="#ff23d3"></div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 pb_col">
                                            <div class="pb_item">
                                                <div class="p_bar_title">PHP</div>
                                                <div id="skill_4_pbar" class="skill_bars"
                                                     data-perc="{{ skills_data.php/100 }}"
                                                     data-name="skill_4_pbar" data-color-start="#79ff7c"
                                                     data-color-end="#ffbd4a"></div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 pb_col">
                                            <div class="pb_item">
                                                <div class="p_bar_title">Js</div>
                                                <div id="skill_5_pbar" class="skill_bars"
                                                     data-perc="{{ skills_data.js/100 }}"
                                                     data-name="skill_5_pbar" data-color-start="#79ff8f"
                                                     data-color-end="#7b74ff"></div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 pb_col">
                                            <div class="pb_item">
                                                <div class="p_bar_title">Flutter</div>
                                                <div id="skill_6_pbar" class="skill_bars"
                                                     data-perc="{{ skills_data.flutter/100 }}"
                                                     data-name="skill_6_pbar" data-color-start="#ff2d72"
                                                     data-color-end="#ffab79"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="milestones clearfix" style="padding-top: 50px">

                                <div class="milestone text-center" style="width: 25%; float: left;">
                                    <div class="milestone_icon"><img src="{{ asset('build/images/sun.webp') }}"
                                                                     alt="" data-pagespeed-url-hash="31011354"
                                                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="milestone_counter" data-end-value="{{ skills_data.yearsExperience }}">
                                        0
                                    </div>
                                    <div class="milestone_text">Years of Experience</div>
                                </div>

                                <div class="milestone text-center" style="width: 25%; float: left;">
                                    <div class="milestone_icon"><img src="{{ asset('build/images/rocket.webp') }}"
                                                                     alt="" data-pagespeed-url-hash="325511275"
                                                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="milestone_counter" data-end-value="{{ skills_data.clients }}"
                                         data-sign-before="+">0
                                    </div>
                                    <div class="milestone_text">Happy Clients</div>
                                </div>

                                <div class="milestone text-center" style="width: 25%; float: left;">
                                    <div class="milestone_icon"><img src="{{ asset('build/images/user.webp') }}"
                                                                     alt="" data-pagespeed-url-hash="620011196"
                                                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="milestone_counter" data-end-value="{{ skills_data.folowersLinkedin }}">0
                                    </div>
                                    <div class="milestone_text">Followers on Linkedin</div>
                                </div>

                                <div class="milestone text-center" style="width: 25%; float: left;">
                                    <div class="milestone_icon"><img src="{{ asset('build/images/energy.webp') }}"
                                                                     alt="" data-pagespeed-url-hash="914511117"
                                                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="milestone_counter" data-end-value="{{ skills_data.projects }}">0</div>
                                    <div class="milestone_text">Finished Projects</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
