<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
    <div>
        <div class="general_info_image">
            <div class="background_image" style="background-image:url({{ asset('images/' ~ current_user.image) }})"></div>
        </div>
    </div>
    <div class="general_info_content">
        <div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
            <div class="general_info_title">General Information</div>
            <ul class="general_info_list">
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                        <img src="{{ asset('build/images/pencil.webp')}}" alt=""></div>
                    <div class="general_info_text">Name: <span>{{ current_user.firstname ~ ' ' ~ current_user.lastname }}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                        <img src="{{ asset('build/images/web.webp')}}" alt="">
                    </div>
                    <div class="general_info_text">Location: <span>{{ current_user.location }}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                        <img src="{{ asset('build/images/star.webp') }}" alt=""></div>
                    <div class="general_info_text">Date of Birth: <span>{{ current_user.birthdate }}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                        <img src="{{ asset('build/images/message.webp')}}" alt=""></div>
                    <div class="general_info_text">
                        <a href="/cdn-cgi/l/email-protection#6a0905041e0b091e2a0603041b1f0f4409050755191f08000f091e572005083523041b1f031813">
                            <div class="general_info_text">Email: <span class="__cf_email__" data-cfemail="4f2c20213b2e2c3b222a0f3b2a223f232e3b2a212e222a612c2022">
                                            {{ current_user.email }}</span></div></a></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center">
                        <img src="{{ asset('build/images/phone.webp')}}" alt=""></div>
                    <div class="general_info_text">Phone Number: <span>{{ current_user.phoneNumber }}</span></div>
                </li>
            </ul>

            <div class="social_container">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a href="#"><i class="fa-brands fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="{{ current_user.linkedin }}" target=”_blank”><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="{{ current_user.instagram }}" target=”_blank”><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="{{ current_user.facebook }}" target=”_blank”><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="{{ current_user.twitter }}" target=”_blank”><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>