{% set current_path = app.request.get('_route') %}

{% block header %}
    <div class="offcanvas-menu">
        <a href="/" class="site-logo">
            <img src="{{ asset('images/logo.png') }}" alt="logo">
        </a>
        <nav class="mobile__menu"></nav>
    </div>
    <header class="header">
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo">Samoil<span>.</span>CV</div>
            <div class="main_nav d-flex flex-row align-items-end justify-content-start">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                    <li class="active"><a href="{{ path('app_about') }}">About</a></li>
                    <li><a href="{{ path('app_skills') }}">Skills</a></li>
                    <li><a href="{{ path('app_services') }}">Services</a></li>
                    <li><a href="{{ path('app_experiences') }}">Experience</a></li>
                    <li><a href="{{ path('app_educations') }}">Education</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                </ul>
            </div>

            <div class="menu" style="background: blue">
                <div class="menu_content d-flex flex-row align-items-start justify-content-end">
                    <div class="hamburger ml-auto">menu</div>
                    <div class="menu_nav text-right">
                        <ul>
                            <li><a href="{{ path('app_about') }}">About</a></li>
                            <li><a href="{{ path('app_skills') }}">Skills</a></li>
                            <li><a href="{{ path('app_services') }}">Services</a></li>
                            <li><a href="{{ path('app_experiences') }}">Experience</a></li>
                            <li><a href="{{ path('app_educations') }}">Education</a></li>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
