<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="vCard template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Philosopher" />
    <script src="{{ asset('build/plugins/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('build/styles/bootstrap-4.1.2/popper.js') }}"></script>
    <script src="{{ asset('build/styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/plugins/greensock/TweenMax.min.js') }}"></script>
    <script src="{{ asset('build/plugins/greensock,_TimelineMax.min.js+scrollmagic,_ScrollMagic.min.js+greensock,_animation.gsap.min.js+greensock,_ScrollToPlugin.min.js.pagespeed.jc.wtdVidDD2e.js') }}"></script>
    <script src="{{ asset('build/plugins/progressbar/progressbar.js') }}"></script>
    <script src="{{ asset('build/plugins/plugins,_easing,_easing.js+plugins,_parallax-js-master,_parallax.min.js+js,_education.js.pagespeed.jc.t7H3cQJ84O.js') }}"></script>
    <script src="{{ asset('build/plugins/plugins,_easing,_easing.js+plugins,_parallax-js-master,_parallax.min.js+js,_contact.js.pagespeed.jc.mUHUan8tjF.js') }}"></script>
    <script src="{{ asset('build/plugins/plugins,_easing,_easing.js+plugins,_parallax-js-master,_parallax.min.js+js,_experience.js.pagespeed.jc.k8Mmx6KXIN.js') }}"></script>
    <script src="{{ asset('build/plugins/plugins,_easing,_easing.js+plugins,_parallax-js-master,_parallax.min.js+js,_services.js.pagespeed.jc.eY83JPzP4D.js') }}"></script>
    <script src="{{ asset('build/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js') }}"></script>
    <script src="{{ asset('build/plugins/plugins,_easing,_easing.js+plugins,_parallax-js-master,_parallax.min.js+js,_custom.js.pagespeed.jc.Rb_NLULxCA.js') }}"></script>
    <script src="{{ asset('build/plugins/plugins,_easing,_easing.js+plugins,_parallax-js-master,_parallax.min.js+js,_skills.js.pagespeed.jc.2IZHCv7LVg.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>eval(mod_pagespeed_jXpAJz1XpV);</script>
    <script>eval(mod_pagespeed_479Yn8bvzx);</script>
    <script>eval(mod_pagespeed_cQz899P46w);</script>
    <script>eval(mod_pagespeed_RL09Ilmv43);</script>
    <script>eval(mod_pagespeed_tu1cRxfRa1);</script>
    <script>eval(mod_pagespeed_4n6WSHGpTp);</script>
    <script>eval(mod_pagespeed_2hysw07FMH);</script>
    <script>eval(mod_pagespeed_JeFeMLgLr7);</script>
    <script>eval(mod_pagespeed_6nPsaHdPI8);</script>
    <script>eval(mod_pagespeed_pyUm5wxaZM);</script>
    <script>eval(mod_pagespeed_NOsQjGyGwE);</script>
    <script data-pagespeed-no-defer>//<![CDATA[
        (function(){for(var g="function"==typeof Object.defineProperties?Object.defineProperty:function(b,c,a){if(a.get||a.set)throw new TypeError("ES3 does not support getters and setters.");b!=Array.prototype&&b!=Object.prototype&&(b[c]=a.value)},h="undefined"!=typeof window&&window===this?this:"undefined"!=typeof global&&null!=global?global:this,k=["String","prototype","repeat"],l=0;l<k.length-1;l++){var m=k[l];m in h||(h[m]={});h=h[m]}
            var n=k[k.length-1],p=h[n],q=p?p:function(b){var c;if(null==this)throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined");c=this+"";if(0>b||1342177279<b)throw new RangeError("Invalid count value");b|=0;for(var a="";b;)if(b&1&&(a+=c),b>>>=1)c+=c;return a};q!=p&&null!=q&&g(h,n,{configurable:!0,writable:!0,value:q});var t=this;
            function u(b,c){var a=b.split("."),d=t;a[0]in d||!d.execScript||d.execScript("var "+a[0]);for(var e;a.length&&(e=a.shift());)a.length||void 0===c?d[e]?d=d[e]:d=d[e]={}:d[e]=c};function v(b){var c=b.length;if(0<c){for(var a=Array(c),d=0;d<c;d++)a[d]=b[d];return a}return[]};function w(b){var c=window;if(c.addEventListener)c.addEventListener("load",b,!1);else if(c.attachEvent)c.attachEvent("onload",b);else{var a=c.onload;c.onload=function(){b.call(this);a&&a.call(this)}}};var x;function y(b,c,a,d,e){this.h=b;this.j=c;this.l=a;this.f=e;this.g={height:window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight,width:window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth};this.i=d;this.b={};this.a=[];this.c={}}
            function z(b,c){var a,d,e=c.getAttribute("data-pagespeed-url-hash");if(a=e&&!(e in b.c))if(0>=c.offsetWidth&&0>=c.offsetHeight)a=!1;else{d=c.getBoundingClientRect();var f=document.body;a=d.top+("pageYOffset"in window?window.pageYOffset:(document.documentElement||f.parentNode||f).scrollTop);d=d.left+("pageXOffset"in window?window.pageXOffset:(document.documentElement||f.parentNode||f).scrollLeft);f=a.toString()+","+d;b.b.hasOwnProperty(f)?a=!1:(b.b[f]=!0,a=a<=b.g.height&&d<=b.g.width)}a&&(b.a.push(e),
                b.c[e]=!0)}y.prototype.checkImageForCriticality=function(b){b.getBoundingClientRect&&z(this,b)};u("pagespeed.CriticalImages.checkImageForCriticality",function(b){x.checkImageForCriticality(b)});u("pagespeed.CriticalImages.checkCriticalImages",function(){A(x)});
            function A(b){b.b={};for(var c=["IMG","INPUT"],a=[],d=0;d<c.length;++d)a=a.concat(v(document.getElementsByTagName(c[d])));if(a.length&&a[0].getBoundingClientRect){for(d=0;c=a[d];++d)z(b,c);a="oh="+b.l;b.f&&(a+="&n="+b.f);if(c=!!b.a.length)for(a+="&ci="+encodeURIComponent(b.a[0]),d=1;d<b.a.length;++d){var e=","+encodeURIComponent(b.a[d]);131072>=a.length+e.length&&(a+=e)}b.i&&(e="&rd="+encodeURIComponent(JSON.stringify(B())),131072>=a.length+e.length&&(a+=e),c=!0);C=a;if(c){d=b.h;b=b.j;var f;if(window.XMLHttpRequest)f=
                new XMLHttpRequest;else if(window.ActiveXObject)try{f=new ActiveXObject("Msxml2.XMLHTTP")}catch(r){try{f=new ActiveXObject("Microsoft.XMLHTTP")}catch(D){}}f&&(f.open("POST",d+(-1==d.indexOf("?")?"?":"&")+"url="+encodeURIComponent(b)),f.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),f.send(a))}}}
            function B(){var b={},c;c=document.getElementsByTagName("IMG");if(!c.length)return{};var a=c[0];if(!("naturalWidth"in a&&"naturalHeight"in a))return{};for(var d=0;a=c[d];++d){var e=a.getAttribute("data-pagespeed-url-hash");e&&(!(e in b)&&0<a.width&&0<a.height&&0<a.naturalWidth&&0<a.naturalHeight||e in b&&a.width>=b[e].o&&a.height>=b[e].m)&&(b[e]={rw:a.width,rh:a.height,ow:a.naturalWidth,oh:a.naturalHeight})}return b}var C="";u("pagespeed.CriticalImages.getBeaconData",function(){return C});
            u("pagespeed.CriticalImages.Run",function(b,c,a,d,e,f){var r=new y(b,c,a,e,f);x=r;d&&w(function(){window.setTimeout(function(){A(r)},0)})});})();

        pagespeed.CriticalImages.Run('/mod_pagespeed_beacon','https://preview.colorlib.com/theme/vcard2/skills.html','-ilGEe-FWC',true,false,'rx4hdW7hK-Y');
        //]]></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    {% block footer_space %}{% endblock %}
{% endblock %}
</body>
</html>
