{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div class="super_container">
        <div class="content_container">
            <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">
                {{ include('general_info.html.twig') }}

                <div class="main_content">
                    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
                        <div class="main_subtitle">What clients say</div>
                        <div class="main_title">Contact me</div>
                    </div>
                    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

                        <div class="contact">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-xl-6">
                                        <div class="contact_text">
                                            <p>If you need my help, my advise or maybe you want to tell me something, you can submit this form! Good luck my friend</p>
                                        </div>
                                        <div class="contact_form_container">
                                            <form action="#" id="contact_form" class="contact_form clearfix">
                                                <div><input type="text" class="contact_input" placeholder="Name"
                                                            required></div>
                                                <div><input type="email" class="contact_input" placeholder="E-mail"
                                                            required></div>
                                                <input type="text" class="contact_input" placeholder="Subject" required>
                                                <textarea class="contact_input contact_textarea" placeholder="Message"
                                                          required></textarea>
                                                <button class="contact_button">Send Message</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="contact_map">

                                            <div class="map">
                                                <div id="google_map" class="google_map">
                                                    <div class="map_container">
                                                        <div id="map"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
