{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block title %}Experiences{% endblock %}

{% block body %}
    <div class="super_container">
        <div class="content_container">
            <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">
                {{ include('general_info.html.twig') }}
                <div class="main_content">
                    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
                        <div class="main_subtitle">What I am good at</div>
                        <div class="main_title">My Experience</div>
                    </div>
                    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

                        <div class="experience">
                            {% for experience in experiences_data %}
                                <div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
                                    <div>
                                        <div class="exp_time">{{ experience.period }}</div>
                                        <div style="text-align: center;">
                                            <img style="width: 60px; height: 60px;"
                                                 src="{{ asset( 'images/' ~ experience.logo) }}" alt=""
                                                 data-pagespeed-url-hash="1812979664"
                                                 onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                                                 class="mCS_img_loaded">
                                        </div>
                                    </div>
                                    <div class="exp_content">
                                        <div class="exp_title_container">
                                            <div class="exp_title">{{ experience.position }}</div>
                                            <div class="exp_subtitle">{{ experience.companyName }}</div>
                                        </div>
                                        <div class="exp_text">
                                            <p>{{ experience.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
