{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block title %}About{% endblock %}
{% block body %}
    <div class="super_container">

        <div class="content_container">
            <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">
                {{ include('general_info.html.twig') }}
                <div class="main_content">
                    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
                        <div class="main_subtitle">{{ current_user.position }}</div>
                        <div class="main_title">{{ current_user.firstname ~ ' ' ~ current_user.lastname }}</div>
                    </div>
                    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
                        <div class="about_content">
                            <div class="about_title">Description</div>
                            <div class="about_text">
                                <p>{{ current_user.description }} </p>
                            </div>

                            <div class="loaders clearfix">

                                <div class="loader_container">
                                    <div class="loader" data-perc="{{ current_user.intuition/100 }}"></div>
                                    <div class="loader_content text-center">
                                        <div class="loader_title">intuition</div>
                                        <div class="loader_subtitle" title="The ability to understand something instinctively, without the need for conscious reasoning.">The ability to understand something instinctively, without the need for conscious reasoning.</div>
                                    </div>
                                </div>

                                <div class="loader_container">
                                    <div class="loader" data-perc="{{ current_user.creativity/100 }}"></div>
                                    <div class="loader_content text-center">
                                        <div class="loader_title">creativity</div>
                                        <div class="loader_subtitle" title="The use of imagination or original ideas to create something.">The use of imagination or original ideas to create something.</div>
                                    </div>
                                </div>

                                <div class="loader_container">
                                    <div class="loader" data-perc="{{ current_user.luck/100 }}"></div>
                                    <div class="loader_content text-center">
                                        <div class="loader_title">pure luck</div>
                                        <div class="loader_subtitle" title="Success or failure apparently brought by chance rather than through one's own actions.">Success or failure apparently brought by chance rather than through one's own actions.</div>
                                    </div>
                                </div>

                                <div class="loader_container">
                                    <div class="loader" data-perc="{{ current_user.awesomeness/100 }}"></div>
                                    <div class="loader_content text-center">
                                        <div class="loader_title">awesomeness</div>
                                        <div class="loader_subtitle" title="The quality of being extremely impressive or daunting.">The quality of being extremely impressive or daunting.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ]{% endblock %}
{% block footer %}
    {% block footer_space %}
        <div class="footer-space"></div>
    {% endblock %}
{% endblock %}