<div>
    {% if field.value == constant('App\\Entity\\Order::PAYMENT_TYPE_CASH') %}
        CASH
    {% elseif field.value == constant('App\\Entity\\Order::PAYMENT_TYPE_CARD') %}
        {% if entity.instance.paymentStatus %}
            <span style="color: green;">CARD</span>
        {% else %}
            <span style="color: red;">CARD</span>
        {% endif %}
    {% else %}
        --
    {% endif %}
</div>