<table style="border: 1px solid black;">
{% for item in field.value %}
    <tr>
        <td>
            <a href="{{ item.type == 'service' ? path('service_view', { 'id': item.id }) : path('product_view', { 'id': item.id }) }}" target="_blank">
                {{ item.title }}
            </a>
        </td>
        <td>{{ item.quantity }} x</td>
        <td>{{ item.price }}</td>
    </tr>
{% endfor %}
</table>