<canvas id="myChart" style="width:100%"></canvas>

<script>
    const dynamicColors = function() {
        const r = Math.floor(Math.random() * 255);
        const g = Math.floor(Math.random() * 255);
        const b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    const xValues = [{% for value in xValues %}"{{ value| date('Y-m-d') }}",{% endfor %}];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [
                {% for dataset in data %}
                {
                    label: "{{ dataset.type }}",
                    data: [
                        {% for count in dataset.counts %} {{ count }}, {% endfor %}
                    ],
                    borderColor: dynamicColors(),
                    fill: false
                },
                {% endfor %}
            ]
        },
        options: {
            legend: {display: false}
        }
    });

</script>